<app-loader *ngIf="is_loading"></app-loader>
<p-fieldset legend="Mis à jour du mot de passe :">
    <form [formGroup]="FormmulairePassword" (ngSubmit)="ChangePassword()">
        <div class="d-flex justify-content-center center_media mb-2">
            <div>
                <img src="assets/images/lock.svg" class='worker' alt="image lock">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Nouveau mot de passe : *</label>
                <span class="label_danger ml-1" *ngIf="IsFiled && FormmulairePassword.get('new_password').errors">
                    * (Requis entre 6 à 30 caractères)
                </span>
                <input class="form-control" type="text" formControlName="new_password" minlength="6" maxlength="30"
                    placeholder="6 caractères min.">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Retapez le nouveau mot de passe : *</label>
                <span class="label_danger ml-1" *ngIf="IsFiled && FormmulairePassword.get('re_new_passwod').errors">
                    * (Requis entre 6 à 30 caractères)
                </span>
                <input class="form-control" type="text" formControlName="re_new_password" minlength="6" maxlength="30"
                    placeholder="6 caractères min.">
            </div>
        </div>
        <div
            class="d-flex mt-3 {{ source=='administration' ? 'justify-content-between' :'justify-content-center'}} center_media">
            <div *ngIf="source=='administration'">
                <button type="button" class="btn btn-red" (click)="ClosePopUp()">
                    Fermer
                </button>
            </div>
            <div>
                <button type="submit" class="btn btn-vert" [disabled]="Disabled || is_loading">
                    Valider
                </button>
            </div>
        </div>
    </form>
</p-fieldset>