.user-status {
  padding: 5px !important;
  font-size: 10px;
  i {
    font-size: 10px;
    margin-right: 10px;
    color: #5cb85c;
  }
}
.sidebar-search {
  > div {
    padding: 10px 20px;
  }
  .input-group-append .input-group-text {
    border-left: 0;
  }
}
.search-menu {
  border: 0.1px solid #a19696 !important;
}