<app-loader *ngIf="is_loading"></app-loader>
<section>
  <div class="imgBx">
    <img src="assets/images/login.svg" alt="Image du login">
  </div>
  <div class="contentBx">
    <div class="formBx">
      <p-card>
        <div class="text-center">
          <span id="titre">Authentification</span>
        </div>
        <div class="d-flex justify-content-center" style="align-items: center;">
          <img src="assets/images/id.gif" class="login_image_css" alt="image user">
        </div>
        <form [formGroup]="FormulaireLogin" (ngSubmit)="LoginUtilisateur()">
          <div class="inputBx" [ngClass]="{'error': IsFiled && FormulaireLogin.get('email').errors}">
            <span class="font-bold" [ngClass]="{'text-danger': IsFiled && FormulaireLogin.get('email').errors}">
              Email :
            </span>
            <input type="text" formControlName="email" minlength="3" maxlength="100" placeholder="..."
              style="font-size: 13px !important;">
          </div>
          <div class="inputBx" [ngClass]="{'error': IsFiled && FormulaireLogin.get('password').errors}">
            <span class="font-bold" [ngClass]="{'text-danger': IsFiled && FormulaireLogin.get('password').errors}">
              Mot de passe :
            </span>
            <input type="password" formControlName="password" placeholder="..." style="font-size: 13px !important;">
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-warning" style="width: 100%;" [disabled]="is_loading"
              (keyup.enter)="LoginUtilisateur()">
              Accéder
            </button>
          </div>
          <div class="d-flex justify-content-center mt-4" style="align-items: center;">
            <img src="assets/images/logo.svg" width="150" alt="Logo">
          </div>
        </form>
      </p-card>
    </div>
  </div>
</section>